
body{
    background-color: rgb(223, 172, 127);
   padding: 100px;
   font-family: sans-serif;
}
#wrap {
    text-align: center;
    border: 10px;
    border-style: dotted;
    background-color: rgb(255, 251, 217);
    margin: auto;
    width: 700px;
}
h1{
    border-bottom: 10px;
    border-bottom-style: dotted ;
    margin: auto;

}
ul{
    list-style: none;
    display: block;
    font-style: italic;
}
li::first-letter{
    font-weight: bold;
}
.copyright{
    text-align: center;
}