
.mercury{
    background-color:aliceblue ;
}
.venus{
    background-color:antiquewhite ;
}
.earth{
    background-color:chocolate ;
}
.mars{
    background-color:aquamarine ;
}
.jupiter{
    background-color: chartreuse;
}
.saturn{
    background-color: darkmagenta;
}
.uranus{
    background-color:blue ;
}
.neptune{
    background-color:darkred ;
}