* {
    box-sizing: border-box;
}
.Mock{
    border: solid black 3px;
    
}
.content{
    border: solid black 3px;
    
}
.item-H{
    background-color: green;
    width: 99.2%;
    height: 120px;
    margin-left: 5px;
    margin-top: 10px;
    border: solid black 2px;
    margin-bottom: 20px;

}
.trees{
    float:left;
    width: 33.33%;  
    padding: 5px;
    margin-bottom: 280px;
}   
/* Clear floats after image containers */
.content::after {
    content: "";
    clear: both;
    display: table;
  }


.one{
    background-color: orange;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 520px;
    margin-left: 5px;
    width: 32%; 
    height: 250px;
}
.two{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 416px;
    top: 520px;
    width: 32.0%; 
    height: 250px;
    margin-left: 21px;
}
.three{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 850px;
    top: 520px;
    width: 32%; 
    height: 250px;
    margin-left: 6px;
}