
*{
    box-sizing: border-box;
}

#body{
    width: 90%;
    margin: 10px;
    padding: 50px;
    border: solid black 3px;
}
.container{
display: flex;
flex-direction: row;
margin-bottom: 20px;
}
.Mock{
    border-bottom: solid  black;
    width: 85%;
    position: absolute;
    top: 0;
}
.item {
    border: solid 2px black
}
.footer {
    border: solid 2px black
}
.Two{ 
    background-color: powderblue;
    width: 75%;
}
.One { 
    background-color: lightcoral;
    margin-right:20px;
    width: 15%;
    height: 100px;

}
.footer {
    background-color:khaki;
    margin-top: 20px;
    width: 92%;
    height: 60px;
}