


.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15em;
    justify-content: space-evenly;
}   
.item-H{
    background-color: green;
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    width: 99.2%;
    height: 100px;
}
img{
    width: 250px;
    height: 200px;
    margin-top: -300px;
}
.item{
    margin-top: -150px;
}
.one{
    background-color: orange;
    border: solid black 2px;
    width: 250px;
    height: 200px;
}
.two{
    background-color: red;
    border: solid black 2px;
    width: 250px;
    height: 200px;
}
.three{
    background-color: lightblue;
    border: solid black 2px;
    width: 250px;
    height: 200px;
}