#wrap{
    background-color: #11c9fc;
    padding: 18px;
    width: 800px;
    margin: auto;

}
p, ul{ font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
ul{
    list-style: none;
    display: block
}
.copyright{
    text-align: left;
}
li::first-letter {
    font-size: 24px;

}